<div id='container'>
<!-- Your code here -->

  <nav class="navigation">
    <ul>
      <li>
          <a href="#/links">People</a>
      </li>
       <li>
          <a class='selected' href="#/shorten">Ready!</a>
      </li>
    </ul>
  </nav>
  <div class="creator">
    <form name='shortlyForm' ng-submit="addLink()" novalidate>
      <input name='link' type="text"
        ng-model="link.url"
        placeholder="Name" required
        ng-class="{'error': shortlyForm.$invalid && shortlyForm.$dirty}"/>
      <button type="submit" value="Shorten" ng-disabled='shortlyForm.$invalid'>
        add
      </button>
    </form>
    <div ng-if='shortlyForm.link.$error.required && shortlyForm.$dirty' class="message">
      <h2>Name required</h2>
    </div>
    <div ng-show='shortlyForm.link.$error.url && shortlyForm.$dirty' class="message">
      <h2>Not a valid name</h2>
    </div>
  </div>
  </div>


